// Colors for The Movie DB
$tmdb-primary-color: #0d253f;
$tmdb-secondary-color: #01b4e4;
$tmdb-tertiary-color: #90cea1;

// Website colors
$black: #0a0a0a;
$dark_blue: #14213d;
$white: #ffffff;
$platinum: #e5e5e5;
$orange: #fca311;

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;

    margin: 0;
    font-family: "Mina", sans-serif;
    background-color: $black;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 1fr 10rem;

    background-color: $dark_blue;
    margin: 4vw auto;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 0.5rem 10rem 0.5rem rgba($platinum, 0.2);

    width: 80%;
    max-width: 2000px;
    min-width: 1200px;
    min-height: 1000px;
}
