.content {
    grid-column: 2/-1;

    display: flex;
    // flex-grow: 5;
    align-items: center;
    flex-direction: column;

    color: $white;

    .message {
        padding-top: 4rem;
    }

    &__poster {
        // width: 100%;
        width: 300px;
    }

    &__title {
        text-align: center;
        color: $white;
        padding: 1rem;
    }
    &__overview {
        text-align: justify;
        color: $white;
        padding: 1rem;
    }
}
