.footer {
    grid-column: 2/-1;
    grid-row: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-items: center;
    color: $platinum;

    &__info {
        font-size: 2rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0.2rem 0;
    }

    &__link {
        text-decoration: none;
        color: inherit;
        display: flex;
        align-items: center;
    }

    &__icon {
        width: 4rem;
        margin-left: 1rem;
    }

    &__tmdb {
        width: 20rem;
        margin-left: 1rem;

        &:hover {
            transform: scale(1.04);
        }
    }
}
