.content {
    .profile {
        grid-row: 1/-2;
        grid-column: 1/-1;
        font-size: 2rem;
        display: grid;
        align-items: center;

        &__heading {
            margin-top: 2rem;
            padding-bottom: 2rem;
            text-align: center;
        }

        &__timer {
            justify-self: center;
            border-radius: 1rem;
            background-color: $white;
            color: $dark_blue;
            width: 50rem;
            padding: 2rem;
            text-align: center;
            box-shadow: 0 0 5rem rgba($black, 0.2);

            &__message {
                font-size: 3rem;
                padding-bottom: 1.5rem;
            }

            &__counter {
                display: flex;
                justify-content: space-around;

                .months,
                .hours,
                .days,
                .minutes {
                    background-color: $platinum;
                    padding: 1rem;
                    border-radius: 1rem;
                    width: 9rem;
                    display: flex;
                    flex-direction: column;
                }
            }
        }

        &__shows {
            display: grid;
            grid-template-rows: repeat(3, min-content);

            &__container {
                display: flex;
                flex-direction: column;
            }
            &__list {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
            }
        }
    }

    .show {
        width: 15rem;
        list-style: none;
        margin: 1rem;
        border-radius: 1rem;

        &__image {
            border-radius: 1rem;
            object-fit: cover;
            background-color: $white;
        }
    }
}
